.page__header {
  margin: 16px auto 16px auto;
}

@media (min-width: 768px) {
  .page__header {
    margin: 28px auto 48px auto;
    }
}

@media (min-width: 1280px) {
  .page__header {
    margin: 28px auto 56px auto;
    }
}