.lead {
  max-width: 100%;
}

/* медиа-запросы */
@media (min-width: 1024px) {
  .lead {
    max-width: calc(100% - 48px*2);
  }
}

@media (min-width: 1280px) {
  .lead {
    max-width: calc(100% - 100px*2);
  }
}
