.header {
  max-width: calc(100% - 16*2px);
  display: flex;
  justify-content: space-between;
}

/* медиа-запросы */
@media (min-width: 768px) {
  .header {
    max-width: calc(100% - 24*2px);
    }
}

@media (min-width: 1024px) {
  .header {
    max-width: calc(100% - 48*2px);
    }
}
