.place__link {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  transition: opacity 1s ease;
}

.place__link:hover {
  opacity: .8;
}