.cover__overlay {
  position: relative;
  z-index: 1;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* делаем статичное затемнение */
.cover__overlay::before {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  content: "";
  background-color: rgba(42, 44, 47, .3);
  transition: background-color 1s ease;
}

/* затемняем при наведении */
.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, .8);
}

/* медиа-запросы */
@media (min-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
  }
}
