.container {
  display: grid;
  grid-template-rows: repat(5, auto);
  gap: 64px;
}

/* медиа-запросы */
@media (min-width: 768px) {
  .container {
    gap: 88px;
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 92px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: calc(100% - 48px*2);
  }
}
