.place {
  display: grid;
  grid-template-areas:
  "place__title"
  "place__website"
  "place__image"
  "place__text";
  gap: 32px;
}

/* медиа-запросы */
@media (min-width: 768px) {
  .place {
    grid-template-areas:
    "place__title place__website"
    "place__image place__text";
    row-gap: 48px;
    column-gap: 28px;
  }
}

@media (min-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media (min-width: 1280px) {
  .place {
    column-gap: 40px;
  }
}
