.footer {
  max-width: calc(100% - (118px + 16px));
  min-height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* медиа-запросы */
@media (min-width: 768px) {
  .footer {
    max-width: calc(100% - 24px*2);
    min-height: 18px;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .footer {
    max-width: calc(100% - 48px*2);
  }
}
